
.argo-editor {
    width: 100%;
    height: 100%;
}

.argo-editor-scrollbars {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.argo-editor-scrollbar-track {
    position: absolute;
    right: 0;
    bottom: 0;
}

.argo-editor-scrollbar-track.argo-editor-horizontal {
    left: 0;
    right: 14px;
    height: 12px;
}

.argo-editor-scrollbar-track.argo-editor-vertical {
    top: 0;
    width: 12px;
}

.argo-editor-scrollbar-knob {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 0.2;
}

.argo-editor-scrollbar-knob.argo-editor-horizontal {
    height: 100%;
}

.argo-editor-scrollbar-knob.argo-editor-vertical {
    width: 100%;
}

.argo-editor-container {

}
