
.argo-editor {
    width: 100%;
    height: 100%;
}

.argo-editor-scrollbar-overlay {
    /*position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;*/
}

.argo-editor-scrollbar-track {
    position: absolute;
    right: 0;
    bottom: 0;
}

.argo-editor-scrollbar-track.argo-editor-horizontal {
    left: 0;
    right: 18px;
    height: 18px;
}

.argo-editor-scrollbar-overlay.argo-editor-single-scrollbar .argo-editor-scrollbar-track.argo-editor-horizontal {
    right: 0;
}

.argo-editor-scrollbar-track.argo-editor-vertical {
    top: 0;
    width: 18px;
}

.argo-editor-scrollbar-thumb {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 0.2;
}

.argo-editor-scrollbar-track:hover > .argo-editor-scrollbar-thumb,
.argo-editor-scrollbar-track.argo-editor-active > .argo-editor-scrollbar-thumb {
    opacity: 0.4;
}

.argo-editor-scrollbar-thumb.argo-editor-horizontal {
    height: 10px;
    bottom: 0;
}

.argo-editor-scrollbar-thumb.argo-editor-vertical {
    width: 10px;
    right: 0;
}


.argo-editor-container {

}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
svg text::selection {
    background: none;
}
*/